@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import'https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /* background-color: #24252A; */
}
body{
    display: flex;
    flex-direction: column
}
/* HEADER */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}
.logo {
    cursor: pointer;
    width: 60px;
    margin-top: -7px;
    margin-right: 425px;
    background: transparent;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #0088a9;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8)
}
/* MAIN */
main{
    overflow: auto;
    padding-bottom: 100px;
    height: 900px;
}

#footer {
    background-color: #24252A;
    position: relative;
    height: 200px;
    margin-top: -200px;
    clear: both;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #24252A;
}
.box a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    float: left;
    transition: 0.5s all;
}
.fb{
    background: #2980b9;
}
.tw{
    background: #3498db;
}
.yb{
    background: #e74c3c;
}
.wp{
    background: #27ae60;
}
.im{
    background: #e67e22;
}
.box a:hover{
    margin-top: -10px
}
